.individual-page-container{
  padding: 0 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.individual-title{
  font-size: 20px;
  color: #444444;
  margin: 20px 0;
  text-align: center;
}
.cover-image-wrapper{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}
.cover-image{
  width: 100%;
  height: auto;
}
.individual-description{
  padding: 0 10%;
  width: 80%;
  margin: 30px 0;
}

@media (max-width: 768px) {
  .individual-page-container{
    padding: 0 10%;
  }
}